
{%extends 'base.html' %}
    <!-- Body section -->
    {%block content %}
    <body>
      <div class="container-fluid mt-4">
       <div class="row">
<!-- categories -->

        <div class="col-lg-3 mx-auto ">
          <div class="list-group">
            <a href="/" class="list-group-item " style="background-color: rgb(104, 101, 101);color: white;">All Products</a>
            {%for i in category %}
            <a href="/?category={{i.id}}" class="list-group-item ">{{i.name}}</a>
            {%endfor%}
          </div>

        </div>
<!-- all products -->

         <div id="product" class='col-lg-8 mx-auto '>
          <div class="row mx-auto">
            {%for i in data %}
            <div class="card mx-auto mb-4 " style="width: 18rem;">
                <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <h6>{{i.price}}</h6>
                  <p class="card-text">{{i.description}}</p>
                  <p class="card-text">{{i.category}}</p>
                  <a href="#" class="btn btn-dark">Add To Cart</a>
                </div>
              </div>
            {%endfor%}
           </div>
         </div>
       </div>
      </div>
      {%endblock%} 
